# Virtual environment
dbt-env/

# Dbt logs
logs/


tmp*/

# Terraform temp files and states
athena_infra/.terraform
athena_infra/.terraform.lock.hcl
athena_infra/terraform.tfstate*
athena_infra/.terraform.tfstate*

# Dbt temp files and logs
dbt_code/orchestration/tmp*
dbt_code/orchestration/source/__pycache__
dbt_code/.user.yml
dbt_code/target/
dbt_code/dbt_packages/
dbt_code/logs/

# Terraform temp files
ecs_infra/.terraform
ecs_infra/.terraform.lock.hcl
ecs_infra/terraform.tfstate*
ecs_infra/.terraform.tfstate*

